/* UPPER HEADER */

.header-area {
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background: #1F2937;
}

.top-of-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.header-logo {
    justify-content: flex-start;
    flex: 2;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

.lower-header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.block-one, .block-two {
    display: flex;
    flex: 1;
}

.block-two {
    color: white;
    background-color: gray;
    width: 500px;
    padding: 50px;
}

.awesome-website {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-subtext {
    font-size: 16px;
    color: #E5E7EB;
}

.sign-up {
    border-radius: 4px;
    background-color: #3882F6;
    text-align: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    font-size: 14px;
}