/* UPPER HEADER */

.header-area {
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background: #1F2937;
}

.top-of-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.header-logo {
    justify-content: flex-start;
    flex: 2;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.block-one, .block-two {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.block-one {
    flex-direction: column;
}

.block-two {
    color: white;
    background-color: gray;
    justify-content: center;
}

.awesome-website {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-subtext {
    font-size: 16px;
    color: #E5E7EB;
}

.sign-up {
    border-radius: 4px;
    background-color: #3882F6;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    text-align: left;
    font-size: 14px;
    /* Not the best way to get the button to the left. */
    margin-left: -240px;
}

/* Random information. I think box sizes could use some work. */

.random-information {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    height: 150px;
    width: 150px;
    border: solid blue;
    border-radius: 10px;
}

.subtext {
    text-align: center;
    margin-bottom: 50px;
}

/* Quote (third) section. */

.quote {
    background: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* Thor, God of Thunder is a little wonkily to the right. */

.quote-origin {
    font-weight: bold;
    text-align: right;
}

/* Call to action. */

.blue-box {
    background-color: blue;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
}

.call-to-action {
    font-weight: bold;
    color: white;
}

.cta-text {
    color: white;
}

.left, .right {
    display: flex;
    flex-direction: row;
}

.left {
    flex-direction: column;
    flex: 2;
}

.sign-up-2 {
    color: white;
    background-color: blue;
    border-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}